.fade-in{
cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  width: 30px;
  height: 70px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.swiper-button-next{
    margin-right: -10px;
}

.swiper-button-prev {
    margin-left: -10px;
}

.swiper-button-prev:after, 
.swiper-button-next:after {
    font-size: 16px;
}
.bestSellers:hover .swiper-button-next{
  background: #d3d3d6;
}


.bestSellers:hover .swiper-button-prev {
  background: #d3d3d6;
}
