.info_site{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    background: #f3f3f3;
    border-right: solid 1px #FFFFFF;
    padding-left: 25px;
}

.info_site_icon svg{
    font-size: 30px;
    color: #fe4c50;
}

.info_site_body{
    padding-left: 22px;
}

.info_site_body h6{
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
}

.info_site_body p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    color: #51545f;
}